<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Hello c4t4</h1>
    <h2>This is heading 2</h2>
    <h5>you re nice, {{name}}</h5>
    <img
    src="{{image_url}}" 
    alt="im gay">
    <a href="https://www.youtube.com/watch?v=rBr5BCmnInU&list=PLFMKeQO-z8sNe9KEOAt02pYQBpyBkyoms&index=47">xem bài</a>
</body>
</html>